body {
    background-color: #333333; 
    color: #ffffff; 
    margin: 1%;
}

input, textarea  {
    background-color: #000; 
    color: #ffffff; 
}

button {
    background-color: #142663;
    color: #ffffff 
}